@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:898989;
    --light:#F2F2F2;
}
body{
  font-family: 'Times New Roman', Times, serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
a{
    text-decoration: none;
}

header{
 background: var(--dark);
 clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
     color:var(--pure);
     text-decoration: none;
     margin-right: 2rem;
     text-transform: uppercase;
     transition: all .3s ease;
    }
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding:2rem 0;
}

header nav .branding{
    margin-right:3rem;
}
.ankush {
    padding:3rem 0;
}
.ankush .left img{
    width: 400px;

}
.ankush .right{
    color: var(--pure);
}
.ankush .right h6{
    font-size: 1.9rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.ankush .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.ankush .right h1 span{
    color: var(--primary);
}
.ankush .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.ankush .right {
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}
.about-me-img{
    height: 500px;

}
section.about h1{
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section .about p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section.about .social a:hover{
    background: var(--primary);
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

#project {
    padding: 90px 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2vw;
    grid-auto-flow: row;
  }
  
  .project-tile {
    background-color: #fff;
    border-radius: 6px;
    padding: 9px;
  }
  
  .project-image {
    box-sizing: border-box;
    border: solid 1px var(--dark-grey);
    max-width: 100%;
    display: block;
    margin: 0 auto 10px auto;
    height: auto;
  }
  
  .project-body {
    padding-top: 5px;
  }